<h2>Topic: <%= params[:topic] %></h2>
<table class="table table-condensed">
  <thead>
    <tr>
      <th>Knowledge Name</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    
  <% @contents.each do |file| %>
    <tr>
      <td>
        <i class="glyphicon glyphicon-file"></i>  <%= link_to file.name.gsub('-',' ').gsub('.md',''), "/view/#{file.path}"%>
      </td>
      <td>
        <%= link_to '<i class="glyphicon glyphicon-edit"></i>'.html_safe, "/edit/#{file.path}", :title => "Edit Knowledge" %>
        <% link_to '<i class="glyphicon glyphicon-remove"></i>'.html_safe, "/view/#{file.path}"%>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>