h1 The Tome of Knoweldge
p Welcome to the Tome of Knowledge. The tome is an application built to create, manage and organize all those little bits of code you have floating around in your brain. Every piece of knowledge you save within the application gets saved to Github in your own personal 'tome-of-knowledge' repository.
p Each piece of kowledge is saved as a lovely markdown file, for your ease of viewing either on GitHub, or within the Tome itself. Each piece of knowledge is also taggable, and you can search all the knowledge within your own personal Tome right here.

h4 Please sign in with GitHub to 
== link_to 'Continue <i class="glyphicon glyphicon-chevron-right"></i>'.html_safe, '/authorization/login', :class => "btn btn-primary"