h2 CodeBank
p Welcome to CodeBank. CodeBank is an application built to create, manage and organize all those little bits of code you have floating around in your brain. Every piece of code you save within the application gets saved to Github in your own personal 'codebank-account' repository.
p Each piece of code is saved as a lovely markdown file, for your viewing pleasure either on GitHub, or within CodeBank itself. Each piece of code is taggable, and you can search all the code within your own personal Bank right here.

h4 Please sign in with GitHub
== link_to 'Continue <i class="glyphicon glyphicon-chevron-right"></i>'.html_safe, '/authorization/login', :class => "btn btn-primary"