doctype HTML
html
head
  title 
    = "#{@title} |" if @title
    | The Tome of Knowledge
  == stylesheet_link_tag "application", media: "all"
  == csrf_meta_tags
body
  .navbar.navbar-inverse.navbar-fixed-top
    .container
      .navbar-header
        a.navbar-brand href="/home"
          | Tome of Knowledge
      - if session[:credentials]  
        ul.nav.navbar-nav
          li
            a href="/search"
              | Search      
        p.pull-right.navbar-text
          | Hello There       
          strong #{session[:credentials]['login']} - 
          == link_to " Log Out", '/authorization/logout', :method => :delete
  .container
    == yield

  == javascript_include_tag "application"
  == yield :script